/* /Componets/Invoices.razor.rz.scp.css */
.invoice-table[b-8p9pwuxldh] {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
}

.invoice-table th[b-8p9pwuxldh], .invoice-table td[b-8p9pwuxldh] {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.invoice-table th[b-8p9pwuxldh] {
    background-color: #f8f9fa;
    font-weight: bold;
}

.invoice-table tbody tr:nth-child(even)[b-8p9pwuxldh] {
    background-color: #f9f9f9;
}


.invoice-container[b-8p9pwuxldh] {
    display: flex;
    justify-content: space-between;
    border-top: 60px solid #f1f1f1;
}

.invoice-table tbody td:nth-child(1)[b-8p9pwuxldh] {
    display: flex;
    color: #0557b7;
    gap:36.5px;
}

.invoice-footer[b-8p9pwuxldh] {
    display:flex;
    justify-content: space-between;
}

.selected-invoices[b-8p9pwuxldh] {
    color: #000;
    text-align: left;
    flex-grow:0;
    margin: 98px 0 0 0;
}

.invoice-total[b-8p9pwuxldh] {
    font-size:28px;
    font-weight: 100;
    color:#000;
    text-align: right;
    margin: 89px 0 0 0;
}
/* /Componets/PaymentMethod.razor.rz.scp.css */
.sale-select-tab[b-1v7ao8shiq] {
    width: 951.7px;
    height: 62px;
    margin: 41px 0 51px 19px;
    padding: 0 570.7px 0 0;
    display: flex;;
    text-align: center;
  }

  .pay-by-ach[b-1v7ao8shiq], .pay-by-cc[b-1v7ao8shiq] {
    width: 188.5px;
    height: 60.5px;
    flex-grow: 0;
    border: solid 1.5px #c4cdd5;
    font-size: 14px;
    color: #212b36;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .pay-by-cc:not(.active)[b-1v7ao8shiq]{
    border: none;
  }
  .pay-by-ach:not(.active)[b-1v7ao8shiq]{
    border-bottom: solid 1.5px #c4cdd5;
    border-left: none;
    border-right: none;
    border-top: none;
  }


  .pay-by-cc.active[b-1v7ao8shiq], .pay-by-ach.active[b-1v7ao8shiq]{
    border-radius: 5px;
    border-top: solid 1.5px #c4cdd5;
    border-left: solid 1.5px #c4cdd5;
    border-right: solid 1.5px #c4cdd5;
    border-bottom: none;
    font-weight: bold;
}

.pay-by-cc-content:not(.active)[b-1v7ao8shiq], 
.pay-by-ach-content:not(.active)[b-1v7ao8shiq], 
.saved-card-content:not(.active)[b-1v7ao8shiq], 
.new-card-content:not(.active)[b-1v7ao8shiq]{
    display:none;
}

.saved-card-content[b-1v7ao8shiq], .new-card-content[b-1v7ao8shiq] {
    margin-top: 59px;
    font-size: 14px;
    width: 100%;
}

.saved-card-content .dropdown[b-1v7ao8shiq] {
    width: 301.7px;
    height: 36px;
    border: .5px solid #c4cdd5;
    border-radius: 5px;
    margin-top: 4.5px;
}

.saved-card-content .dropdown .dropdown-toggle[b-1v7ao8shiq] {
    font-size: 14px;
}

.card-type .active[b-1v7ao8shiq] {
    border-bottom: solid 3px #4d71f6;
    font-weight: bold;
}

.card-type[b-1v7ao8shiq] {
    display:flex;
    gap: 84px;
    font-size: 16px;
    cursor: pointer;
}

.pay-by-ach-content[b-1v7ao8shiq], .pay-by-cc-content[b-1v7ao8shiq] {
    margin-left: 94.5px;
}

.saved-card-sc[b-1v7ao8shiq]{
    display: flex;
    width: 114px;
    height: 35px;
    border-radius: 5px;
    margin-top: 34.5px;
    flex-direction: column;
    width: fit-content;
    font-size: 14px;
    gap: 7.5px
}

.dd-container[b-1v7ao8shiq]{
    display: flex;
    gap: 32.8px;
}
.dd-container .manage-payment-methods[b-1v7ao8shiq] {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0557b7;
    text-align: left;
    font-weight: 600;
}
/* /Componets/PaymentReview.razor.rz.scp.css */
.payment-review[b-hpr34wxak2] {
    margin-top: 73px;

}
.payment-review div:not(.pay-button, .total-payment-review)[b-hpr34wxak2] {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #212b36;
}

.pay-button[b-hpr34wxak2] {
    width: 430px;
    height: 36px;
    flex-grow: 0;
    display: flex;
    align-items: center;
    background-color: #4263f9;
    justify-content: center;
    border-radius: 14px;
    color: #fff;
    font-weight: 600px;
}

.pay-button span[b-hpr34wxak2] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-payment-review[b-hpr34wxak2] {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    border-top: 1px solid #98a2a8;
    padding-top:27px;
    margin-bottom:40px;
}

.payment-review-info[b-hpr34wxak2] {
    display:flex;
    flex-direction: column;
    gap:21px;
    margin-bottom: 100px;
}


.modal-overlay[b-hpr34wxak2] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content[b-hpr34wxak2] {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px;
    max-width: 1296px;
    max-height: 915px;
    text-align: center;
}

.modal-content h2[b-hpr34wxak2] {
    margin-top: 0;
}

.saved-select-tab .active[b-hpr34wxak2] {
    border-bottom: solid 3px #4d71f6;
    font-weight: bold;
}

.saved-select-tab[b-hpr34wxak2] {
    display:flex;
    gap: 64px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 76px;
}


.close-button[b-hpr34wxak2] {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #31373d;
    cursor: pointer;    
}

.close-button:hover[b-hpr34wxak2] {
    color: #4d71f6;
}

.saved-cc-collection[b-hpr34wxak2] {
    width: 199px;
    height: 498px;
    flex-grow: 0;
    padding: 11.5px 0.2px 75.5px 0.2px;
    border: solid 1px #c4cdd5;
    margin-top:48.5px;
    margin-right:66px;
    background-color: #f4f6f8;
}

.selected-cc-information[b-hpr34wxak2] {
    margin-top:48.5px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
}

.saved-cc-content[b-hpr34wxak2] {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.saved-cc-content:not(.active)[b-hpr34wxak2]{
    visibility: hidden;
}

[class^="info-row-"][b-hpr34wxak2] {
    display: flex;
    flex-direction: row;
}

.info-row-1[b-hpr34wxak2] {
    justify-content: space-between;
}

.input-width-1[b-hpr34wxak2] {
    max-width: 362.4px;
}
.input-width-2[b-hpr34wxak2] {
    max-width: 167px;
}
.input-width-3[b-hpr34wxak2] {
    max-width: 58px;
}
/* /Componets/SummaryCard.razor.rz.scp.css */
.summary-cards[b-r176psknbv] {
    display: flex;
    gap: 20px;
}
.summary-card[b-r176psknbv] {
    background-color: #fff;
    padding: 35.5px 112.3px 42.5px 44.5px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: left;
    width:281px;
    height: 178px;
    border: solid 1px #c4cdd5;
}

.card-title[b-r176psknbv] {
    font-size: 14px;
}

.card-value[b-r176psknbv] {
    font-size: 28px;
}
.card-icon[b-r176psknbv] {
    width: 29.3px;
    height: 29px;
    flex-grow: 0;
    margin: 0 94.9px 12px 0;
}

@media (max-width: 640.98px) {
    .summary-card[b-r176psknbv]{
        width: 253px;
        height: 120px;
        display: flex;
        flex-direction: column;
        padding: 11.3px 89.5px 8.3px 16.5px;
        text-align: left;
    }
    .card-value[b-r176psknbv] {
        margin-bottom: unset;
    }
    .card-title[b-r176psknbv]{
        width: 100%;
    }
}


/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-y8uacn2u7y] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-y8uacn2u7y] {
    flex: 1;
    background-color: #f4f6f8;
}

.sidebar[b-y8uacn2u7y] {
    background-color: #637381;
    width: 273.5px;
}

.top-row[b-y8uacn2u7y] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 73px;
    display: flex;
    align-items: center;
}

    .top-row[b-y8uacn2u7y]  a, .top-row[b-y8uacn2u7y]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-y8uacn2u7y]  a:hover, .top-row[b-y8uacn2u7y]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-y8uacn2u7y]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-y8uacn2u7y] {
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 0;
    }

    .top-row[b-y8uacn2u7y]  a, .top-row[b-y8uacn2u7y]  .btn-link {
        margin-left: 0;
    }

    .sidebar[b-y8uacn2u7y] {
        width: 74.5px;
    }

    .page[b-y8uacn2u7y] {
        flex-direction: row;
    }
}

@media (min-width: 641px) {
    .page[b-y8uacn2u7y] {
        flex-direction: row;
    }

    .sidebar[b-y8uacn2u7y] {
        min-width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y8uacn2u7y] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-y8uacn2u7y], article[b-y8uacn2u7y] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-wbxmn4g0si] {
    border: none;
}
.navbar-toggler-icon[b-wbxmn4g0si] {
    background-image: url('images/Navigation/Hamburger.png') !important;
    width:20px;
}


.top-row[b-wbxmn4g0si] {
    min-height: 3.5rem;
    height: 73px;
    background-color: #F4F6F8;
}

.navbar-brand[b-wbxmn4g0si] {
    font-size: 1.1rem;
}

.bi[b-wbxmn4g0si] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-wbxmn4g0si] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-wbxmn4g0si] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-wbxmn4g0si] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-wbxmn4g0si] {
    font-size: 14px;
    padding-bottom: 0.5rem;
    height: 36px;
}

.nav-item[b-wbxmn4g0si]  a {
    color: #d7d7d7;
    display: flex;
    align-items: center;
    height: 36px;
}

.nav-item[b-wbxmn4g0si]  img {
    width: 20px;
    height: 20px;
    margin-right: 18px;
}


.nav-item[b-wbxmn4g0si]  a.active {
    background-color: rgba(255,255,255,0.13);
    color: white;
    border-left: 4px solid #fff;
}

.nav-item[b-wbxmn4g0si]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
    border-left: 4px solid #fff;
}

.top-row-toggler[b-wbxmn4g0si]{
    background-color: #637381;
}

@media (min-width: 641px) {
    .collapse[b-wbxmn4g0si] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-wbxmn4g0si] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        background-color: #637381;
    }
}

@media (max-width: 640.98px) {
    .nav-item[b-wbxmn4g0si] {
        height: 61px;
        font-size: 8px;
        text-align: center;
    }
    .nav-item[b-wbxmn4g0si]  a {
        height: 61px;
        flex-direction: column;
        padding: unset;
        justify-content: center;
    }   
    
    .nav-item[b-wbxmn4g0si]  img {
        margin: 0 auto;
        margin-bottom: 11px;
    }
}
/* /Pages/SelectAndPay.razor.rz.scp.css */
.header[b-nt122zt0yj] {
    padding: 20px 0 20px 0;
    background-color: #f4f6f8;
}

.summary-cards[b-nt122zt0yj] {
    display: flex;
    gap: 44px;
    margin-top: 10px;
}
@media (max-width: 640.98px) {
    .summary-cards[b-nt122zt0yj] {
        flex-direction: column !important;
    }

    .invoice-table-container[b-nt122zt0yj], .payment-method-container[b-nt122zt0yj], .payment-review-container[b-nt122zt0yj] {
        visibility: hidden;
    }
}

.invoice-table-container[b-nt122zt0yj] 
{
    margin-top: 20px;
    border: solid 1px #c4cdd5;
    border-radius: 14px;
    padding: 25.5px 43.5px 26.5px 21.5px;
    flex-grow: 0;
    max-width:1584px;
    width:100%;
    background-color: #ffffff;
}

.step-number-1[b-nt122zt0yj] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('images/Step1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.step-number-2[b-nt122zt0yj] {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('images/Step2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.step-number-3[b-nt122zt0yj] {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('images/Step3.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.payment-method-container[b-nt122zt0yj] 
{
    margin-top: 20px;
    border: solid 1px #c4cdd5;
    border-radius: 14px;
    padding: 25.5px 43.5px 26.5px 21.5px;
    max-width: 1063px;
    width:100%;
    background-color: #ffffff;
}

.payment-review-container[b-nt122zt0yj] 
{
    margin-top: 20px;
    border: solid 1px #c4cdd5;
    border-radius: 14px;
    padding: 37.5px 25px 52.5px 40.5px;
    max-width: 500px;
    width:100%;
    background-color: #ffffff;
}

.payment-container[b-nt122zt0yj]{
    display: flex;
    gap: 16px;
    max-width: 1584px;
    width:100%;
    justify-content: space-between;
}
