.header {
    padding: 20px 0 20px 0;
    background-color: #f4f6f8;
}

.summary-cards {
    display: flex;
    gap: 44px;
    margin-top: 10px;
}
@media (max-width: 640.98px) {
    .summary-cards {
        flex-direction: column !important;
    }

    .invoice-table-container, .payment-method-container, .payment-review-container {
        visibility: hidden;
    }
}

.invoice-table-container 
{
    margin-top: 20px;
    border: solid 1px #c4cdd5;
    border-radius: 14px;
    padding: 25.5px 43.5px 26.5px 21.5px;
    flex-grow: 0;
    max-width:1584px;
    width:100%;
    background-color: #ffffff;
}

.step-number-1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('images/Step1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.step-number-2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('images/Step2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.step-number-3 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('images/Step3.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.payment-method-container 
{
    margin-top: 20px;
    border: solid 1px #c4cdd5;
    border-radius: 14px;
    padding: 25.5px 43.5px 26.5px 21.5px;
    max-width: 1063px;
    width:100%;
    background-color: #ffffff;
}

.payment-review-container 
{
    margin-top: 20px;
    border: solid 1px #c4cdd5;
    border-radius: 14px;
    padding: 37.5px 25px 52.5px 40.5px;
    max-width: 500px;
    width:100%;
    background-color: #ffffff;
}

.payment-container{
    display: flex;
    gap: 16px;
    max-width: 1584px;
    width:100%;
    justify-content: space-between;
}
