.header {
    padding: 20px 0 20px 0;
    background-color: #ffffff;
}

.summary-cards {
    display: flex;
    gap: 44px;
    margin-top: 10px;
}
@media (max-width: 640.98px) {
    .summary-cards {
        flex-direction: column !important;
    }
}

.invoice-table-container 
{
    margin-top: 20px;
    border: solid 1px #c4cdd5;
    border-radius: 25px;
    padding: 25.5px 43.5px 26.5px 21.5px;
    flex-grow: 0;
}

.step-number-1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%234263F9" class="bi bi-1-circle-fill" viewBox="0 0 16 16"%3E%3Cpath d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312z"/%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
}


.payment-method-container 
{
    margin-top: 20px;
    border: solid 1px #c4cdd5;
    border-radius: 25px;
    padding: 25.5px 43.5px 26.5px 21.5px;
    height: 524px;
    width: 1063px;
}
