@page "/"
@using EBizChargeChallenge.Data.Models;
@using EBizChargeChallenge.Componets;
    <div class="header">
        <span>Welcome back, Rebecca. Here is a summary of your account.</span>
        <div class="summary-cards">
            @foreach (var card in cards)
            {
                <SummaryCard CardDetails="card" />
            }
        </div>
    </div>
    <div class="invoice-table-container">
        <div class="step-number-1"></div>
        <span>Select invoices to pay.</span>
        
        <Invoices />
    </div>
    <div class="payment-container">
        <div class="payment-method-container">
            <div class="step-number-2"></div>
            <span>Select a payment method</span>
            <PaymentMethod />
        </div>

        <div class="payment-review-container">
            <div class="step-number-3"></div>
            <span>Review payment summary</span>
            <PaymentReview MemberInfo="cardMemberInfos" />
        </div>
    </div>


@code {
    List<Card> cards = new List<Card> {
        new Card { CardTitle = "Total amount due", CardValue = "$4,120.23" },
        new Card { CardTitle = "Open invoices", CardValue = "13" },
        new Card { CardTitle = "Open sales orders", CardValue = "2" },
        new Card { CardTitle = "Saved payment methods", CardValue = "4" },
        new Card { CardTitle = "Auto pay", CardValue = "On" }
    };

    List<CardMemberInfo> cardMemberInfos = new List<CardMemberInfo> {
        new CardMemberInfo { MemberCreditCard = new CreditCard { Id = 1, CardType = "Visa", LastFourDigits = "1234", ImageUrl = "images/visa.svg", Preference = "main card" }, BillingAddress = "1234 Main St. Springfield, IL 62701", CardNickname = "Visa - 1234", ExpireMonth = 12, ExpireYear = 2023, NameOnCard = "Rebecca Smith" },
        new CardMemberInfo { MemberCreditCard = new CreditCard { Id = 1, CardType = "Visa", LastFourDigits = "1234", ImageUrl = "images/visa.svg", Preference = "main card" }, BillingAddress = "1234 Main St. Springfield, IL 62701", CardNickname = "Visa - 1234", ExpireMonth = 12, ExpireYear = 2023, NameOnCard = "Rebecca Smith" },
        new CardMemberInfo { MemberCreditCard = new CreditCard { Id = 1, CardType = "Visa", LastFourDigits = "1234", ImageUrl = "images/visa.svg", Preference = "main card" }, BillingAddress = "1234 Main St. Springfield, IL 62701", CardNickname = "Visa - 1234", ExpireMonth = 12, ExpireYear = 2023, NameOnCard = "Rebecca Smith" }
    };
    
}
