.invoice-table[b-8p9pwuxldh] {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
}

.invoice-table th[b-8p9pwuxldh], .invoice-table td[b-8p9pwuxldh] {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.invoice-table th[b-8p9pwuxldh] {
    background-color: #f8f9fa;
    font-weight: bold;
}

.invoice-table tbody tr:nth-child(even)[b-8p9pwuxldh] {
    background-color: #f9f9f9;
}


.invoice-container[b-8p9pwuxldh] {
    display: flex;
    justify-content: space-between;
    border-top: 60px solid #f1f1f1;
}

.invoice-table tbody td:nth-child(1)[b-8p9pwuxldh] {
    display: flex;
    color: #0557b7;
    gap:36.5px;
}

.invoice-footer[b-8p9pwuxldh] {
    display:flex;
    justify-content: space-between;
}

.selected-invoices[b-8p9pwuxldh] {
    color: #000;
    text-align: left;
    flex-grow:0;
    margin: 98px 0 0 0;
}

.invoice-total[b-8p9pwuxldh] {
    font-size:28px;
    font-weight: 100;
    color:#000;
    text-align: right;
    margin: 89px 0 0 0;
}