<div class="payment-review">
    <div class="payment-review-info">
        <div>
            <span># of invoices selected:</span>
            <span>0</span>
        </div>
        <div>
            <span>Invoices payment amount:</span>
            <span>$0.00</span>
        </div>
        <div>
            <span>3% card convenience fee:</span>
            <span>$0.00</span>
        </div>
    </div>
    <div class="total-payment-review">
        <span>Total payment amount:</span>
        <span>$0.00</span>
    </div>
    <div>
        <div class="pay-button">
            <span>Pay Now</span>
        </div>
    </div>
</div>
@code {

}
