@using EBizChargeChallenge.Data.Models;
@code {
    [Parameter]
    public Card CardDetails { get; set; } = new Card();
}
<div class="card">
    <span class="card-icon">📋</span>
    <p class="card-value">@CardDetails.CardValue</p>
    <p class="card-title">@CardDetails.CardTitle</p>
</div> 