@using EBizChargeChallenge.Data.Models;
@code {
    [Parameter]
    public Card CardDetails { get; set; } = new Card();
}
<div class="summary-card">
    <img class="card-icon" src="@CardDetails.CardIcon" />
    <p class="card-value">@CardDetails.CardValue</p>
    <p class="card-title">@CardDetails.CardTitle</p>
</div> 