<div class="top-row"></div>
<div class="top-row-toggler navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item"></div>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="images/Navigation/SelectnPay.png"> Select & Pay
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="quickpayment">
                <img src="images/Navigation/QuickPayments.png"> Quick Payment
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="autopayments">
                <img src="images/Navigation/AutoPayments.png"> Auto Payments
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="reports">
                <img src="images/Navigation/Reports.png"> Reports
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="myaccount">
                <img src="images/Navigation/MyAccount.png"> My Account
            </NavLink>
        </div>
    </nav>
</div>
